*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}
body{
    background: url("img/antonio-garcia-339626-unsplash.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.weather-box{
    background-color: rgba(255, 255, 255, 0.9);
    margin: 8% auto;
    width: 45vw;
    height: 60vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5% 0;
}
.weather-box p{
    font-weight: bold;
}
.weather-box h1{
    font-size: 60px;
}
.city,
.country{
    font-weight: bold;
}
img{
    width: 100px;
    height: 100px;
}
button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}